<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/todo.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/profile.css">

<div class="container">
    <div class="row">
		<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
			<A href="edit.html" >Edit Profile |</A>
			<A href="login.html" >Logout</A>
			<br>
		</div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Casey Doe</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="profile_picture.jpg" class="img-circle img-responsive"> </div>
							<div class=" col-md-9 col-lg-9 "> 
								<table class="table table-user-information">
								<tbody>
								  <tr>
									<td>School:</td>
									<td>University of Toronto</td>
								  </tr>
								  <tr>
									<td>Join date:</td>
									<td>08/08/2016</td>
								  </tr>
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>Male</td>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">caseydoe@gmail.com</a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td>555-4567-890(Mobile)</td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
					<div>
						<a href="todo.html" class="btn btn-primary col-xs-5">To-do List</a>
						<a href="#" class="btn btn-primary col-xs-5 pull-right">Event Calendar</a>
					</div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>